@model TestProject.Models.StudentViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}





    <div class="row" style="margin:auto;margin-top: 10px">
        <div class="col-md-5 text-right">Student Name</div>
        <div class="col-md-6">
            @Html.TextBoxFor(m => m.StudnetModel.StudentName, htmlAttributes: new { @class = "form-control", id = "StudentName" })
        </div>
        <div class="col-md-5 text-right">Course</div>
        <div class="col-md-6">
            @Html.DropDownList("CourseDrodown", null, htmlAttributes: new { @class = "form-control", id = "StudentClass" })
        </div>
    </div>




    <div id="main_window" style="margin-top: 10px;">
        <div id="left_pane">
            <h4>Draggables</h4>
            <div id="available_metrics_filter">
                <ul id="available_metrics_list"></ul>
            </div>
        </div>
        <div id="right_pane">
            <h4>Droppable</h4>
            <div id="selected_metrics">
                <ul id="selected_metrics_list">
                    <li id="next_metric">Next Draggable</li>
                </ul>
            </div>
            <div id="remove_metric">
                Remove Draggable
            </div>
        </div>
    </div>

    <div class="row">
        <button type="button" id="InsertRecord" class="btn btn-success">Save</button>
        <button type="button" id="CancelRecord" class="btn btn-success">Cancel</button>
    </div>


<div id="dataTable_wrapper"></div>
<table id="dataTable" class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>StudentName</th>
            <th>StudentClass</th>
            <th>StudentCourse</th>
        </tr>
    </thead>
</table>

<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js'></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/jquery.dataTables.js"></script>

<script src="~/Scripts/dataTables.bootstrap.min.js"></script>
<script src="~/Scripts/Draggable/app.js"></script>
<script>

    $(document).ready(function () {
        gettabledata()
    });

    $("#InsertRecord").click(function () {
        $.ajax(
            {
                type: "POST", //HTTP POST Method
                url: "Home/Index", // Controller/View
                data: { //Passing data
                    studentname: $("#StudentName").val(), //Reading text box values using Jquery
                    ClassId: $("#StudentClass").val(),
                    courseid: 4
                }

            });
    });

    $("#CancelRecord").click(function () {
        gettabledata();
    });

    function gettabledata() {
        $('#dataTable').DataTable({

            "ajax": {
                "url": "/Home/StudentData",
                "type": "GET",
                "datatype": "json"
            },

            "columns": [
                { "data": "StudentName", "autowidth": true },
                { "data": "StudentClass", "autowidth": true },
                { "data": "StudentCourse", "autowidth": true }
            ]

        });
    }
</script>